<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>DynEd - Push Notification Service</title>
	<link rel="stylesheet" href="css_bootstrap.css">
	<link rel="stylesheet" href="cyborg_bootstrap.css">
	<link rel="stylesheet" href="font-awesome.css">
</head>
<!-- putting this at the top to remove the jarring load -->
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<button class="btn btn-primary pull-right" ng-click="add()">
			<i class="fa fa-plus"></i> Add Logs
		</button>
		<h1>DynEd </h1>
		<h2>Push Notification Service</h2>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>Push Code</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: b.user_id == selected.user_id}" ng-repeat="b in logs">
						<a href="" ng-click="get($index)">{{b.user_id }}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6" ng-show="selected">
				<h2>{{selected.user_id}}</h2>
				<dl class="dl-horizontal">
					<dt>APP ID :</dt>
					<dd>{{selected.App_ID}}</dd>
					<dt>User ID :</dt>
					<dd>{{selected.User_ID}}</dd>
					<dt>Device ID :</dt>
					<dd>{{selected.Device_ID}}</dd>
					<dt>Date Access :</dt>
					<dd>{{selected.User_ID}}</dd>
					<dt>Message :</dt>
					<dd>{{selected.Message}}</dd>
					<dt>IP Address:</dt>
					<dd>{{selected.IP_Address}}</dd>
				</dl>
			</div>
			<div class="col-sm-3" ng-show="selected">
				<button class="btn btn-primary form-control" ng-click="update(selected.idx)">
					<i class="fa fa-pencil"></i> Update this log
				</button>
				<br>
				<button class="btn btn-danger form-control" ng-click="remove(selected.idx)">
					<i class="fa fa-trash-o"></i> Remove this log
				</button>
			</div>
		</div>
		<div class="header">
    		<i class="fa fa-angle-left" ng-click="previous()"></i>
    		<span>{{month.format("MMMM, YYYY")}}</span>
    		<i class="fa fa-angle-right" ng-click="next()"></i>
		</div>
		<div class="week names">
   			<span class="day">Sun</span>
    		<span class="day">Mon</span>
    		<span class="day">Tue</span>
    		<span class="day">Wed</span>
    		<span class="day">Thu</span>
    		<span class="day">Fri</span>
    		<span class="day">Sat</span>
		</div>
		<div class="week" ng-repeat="week in weeks">
    		<span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
		</div>
	</div>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<calendar selected="day"></calendar>
<script>
	// new dependency: ngResource is included just above
	var myapp = new angular.module("myapp", ["ngResource"]);

	// inject the $resource dependency here
	myapp.controller("MainCtl", ["$scope", "$resource", function($scope, $resource){
		// I designed the backend to play nicely with angularjs so this is all the
		// setup we need to do all of the ususal operations.
		var Logs = $resource("/logs/:id", {id: '@id'}, {});

		$scope.selected = null;

		$scope.list = function(idx){
			// Notice calls to Book are often given callbacks.
			Logs.query(function(data){
				$scope.logs = data;
				if(idx != undefined) {
					$scope.selected = $scope.logs[idx];
					$scope.selected.idx = idx;
				}
			}, function(error){
				alert(error.data);
			});
		};

		$scope.list();

		$scope.get = function(idx){
			// Passing parameters to Book calls will become arguments if
			// we haven't defined it as part of the path (we did with id)
			Logs.get({id: $scope.logs[idx].id}, function(data){
				$scope.selected = data;
				$scope.selected.idx = idx;
			});
		};

		$scope.add = function() {
			// I was lazy with the user input.
			var push_code = prompt("Enter the push code.");
			if(push_code == null){
				return;
			}
			var App_ID = prompt("Enter the app id.");
			if(App_ID == null){
				return;
			}
			// Creating a blank book object means you can still $save
			var newLogs = new Logs();
			newLogs.push_code = push_code;
			newLogs.App_ID = App_ID;
			newLogs.$save();

			$scope.list();
		};

		$scope.update = function(idx) {
			var logs = $scope.logs[idx];
			var push_code = prompt("Enter a push code", logs.push_code);
			if(push_code == null) {
				return;
			}
			var app_id = prompt("Enter a APP ID", logs.app_id);
			if(app_id == null) {
				return;
			}
			logs.push_code = push_code;
			logs.app_id = app_id;
			// Noticed I never created a new Book()?
			logs.$save();

			$scope.list(idx);
		};

		$scope.remove = function(idx){
			$scope.logs[idx].$delete();
			$scope.selected = null;
			$scope.list();
		};
	}]);
</script>

<script>
	var app = angular.module("demo", []);

	app.controller("calendarDemo", function($scope) {
    	$scope.day = moment();
	});

	app.directive("calendar", function() {
    	return {
        	restrict: "E",
        	templateUrl: "templates/calendar.html",
        	scope: {
	            selected: "="
        	},
        	link: function(scope) {
	            scope.selected = _removeTime(scope.selected || moment());
            	scope.month = scope.selected.clone();

            	var start = scope.selected.clone();
            	start.date(1);
            	_removeTime(start.day(0));

            	_buildMonth(scope, start, scope.month);

            	scope.select = function(day) {
                	scope.selected = day.date;  
            	};

	            scope.next = function() {
    	            var next = scope.month.clone();
        	        _removeTime(next.month(next.month()+1)).date(1));
            	    scope.month.month(scope.month.month()+1);
                	_buildMonth(scope, next, scope.month);
            	};

            	scope.previous = function() {
	                var previous = scope.month.clone();
    	            _removeTime(previous.month(previous.month()-1).date(1));
        	        scope.month.month(scope.month.month()-1);
                	_buildMonth(scope, previous, scope.month);
            	};
        	}
    	};
    
    	function _removeTime(date) {
	        return date.day(0).hour(0).minute(0).second(0).millisecond(0);
	    }

	    function _buildMonth(scope, start, month) {
        	scope.weeks = [];
        	var done = false, date = start.clone(), monthIndex = date.monthIndex(), count = 0;
        	while (!done) {
	            scope.weeks.push({ days: _buildWeek(date.clone(), month) });
            	date.add(1, "w");
            	done = count++ > 2 && monthIndex !== date.month();
            	monthIndex = date.month();
        	}
    	}

    	function _buildWeek(date, month) {
	        var days = [];
        	for (var i = 0; i < 7; i++) {
	            days.push({
                	name: date.format("dd").substring(0, 1),
                	number: date.date(),
                	isCurrentMonth: date.month() === month.month(),
                	isToday: date.isSame(new Date(), "day"),
                	date: date
            	});
            	date = date.clone();
            	date.add(1, "d");
        	}
        	return days;
    	}
	});
</script>
</body>
</html>
